<!DOCTYPE html>
<html lang="pt-BR">

{% include "parciais/head.html" %}
{% include "parciais/cabecalho.html" %}

<body>
    {% include "parciais/buscador.html" %}
    <main class="principal-conteudo-container">
        <div class="principal-conteudo-lista"></div>
        <div class="temp">1</div>
        <div class="temp">2</div>
        <div class="temp">3</div>
        <div class="temp">4</div>
        <div class="temp">5</div>
        <div class="temp">6</div>
        <div class="temp">7</div>
        <div class="temp">8</div>
        <div class="temp">9</div>
        <div class="temp">10</div>
    </main>
</body>

</html>